{
   "cooldown": 30,
   "wiki": "minecraft",
   "lang": "en",
   "header": {
      "user-agent": "FrisksRcGcDw/1.5.2"
      },
   "limit": 11,
   "webhookURL": "https://discordapp.com/api/webhooks/111111111111111111/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
   "limitrefetch": 28,
   "wikiname": "Minecraft Wiki",
   "avatars": {
       "connection_failed": "https://i.imgur.com/2jWQEt1.png",
       "connection_restored": "",
      "no_event": "",
      "embed": ""
   },
   "ignored": ["external"],
   "verbose_level": 0,
   "show_updown_messages": true,
   "overview": false,
   "overview_time": "00:00",
   "send_empty_overview": false,
   "license_regex_detect": "\\{\\{(license|lizenz|licence|copyright)",
   "license_regex": "\\{\\{(license|lizenz|licence|copyright)(\\ |\\|)(?P<license>.*?)\\}\\}",
   "wiki_bot_login": "",
   "wiki_bot_password": "",
   "show_added_categories": true,
   "appearance":{
       "daily_overview": {
         "color": 16312092,
         "icon":""
      },
      "new":{
         "icon":"https://i.imgur.com/6HIbEq8.png",
         "color":"THIS COLOR DEPENDS ON EDIT SIZE, PLEASE DON'T CHANGE"
      },
      "edit":{
         "icon":"",
         "color":"THIS COLOR DEPENDS ON EDIT SIZE, PLEASE DON'T CHANGE"
      },
      "upload/overwrite":{
         "icon":"https://i.imgur.com/egJpa81.png",
         "color":12390624
      },
      "upload/upload":{
         "icon":"https://i.imgur.com/egJpa81.png",
         "color":null
      },
      "delete/delete":{
         "icon":"https://i.imgur.com/BU77GD3.png",
         "color":1
      },
      "delete/delete_redir":{
         "icon":"https://i.imgur.com/BU77GD3.png",
         "color":1
      },
      "delete/restore":{
         "icon":"https://i.imgur.com/9MnROIU.png",
         "color":null
      },
      "delete/revision":{
         "icon":"https://i.imgur.com/1gps6EZ.png",
         "color":null
      },
      "delete/event":{
         "icon":"https://i.imgur.com/1gps6EZ.png",
         "color":null
      },
      "merge/merge":{
         "icon":"https://i.imgur.com/uQMK9XK.png",
         "color":null
      },
      "move/move":{
         "icon":"https://i.imgur.com/eXz9dog.png",
         "color":null
      },
      "move/move_redir":{
         "icon":"https://i.imgur.com/UtC3YX2.png",
         "color":null
      },
      "block/block":{
         "icon":"https://i.imgur.com/g7KgZHf.png",
         "color":1
      },
      "block/unblock":{
         "icon":"https://i.imgur.com/bvtBJ8o.png",
         "color":1
      },
      "block/reblock":{
         "icon":"https://i.imgur.com/g7KgZHf.png",
         "color":1
      },
      "protect/protect":{
         "icon":"https://i.imgur.com/bzPt89Z.png",
         "color":null
      },
      "protect/modify":{
         "icon":"https://i.imgur.com/bzPt89Z.png",
         "color":null
      },
      "protect/move_prot":{
         "icon":"https://i.imgur.com/bzPt89Z.png",
         "color":null
      },
      "protect/unprotect":{
         "icon":"https://i.imgur.com/2wN3Qcq.png",
         "color":null
      },
      "import/upload":{
         "icon":"",
         "color":null
      },
      "import/interwiki":{
         "icon":"https://i.imgur.com/sFkhghb.png",
         "color":null
      },
      "rights/rights":{
         "icon":"",
         "color":null
      },
      "abusefilter/abusefilter":{
         "icon":"https://i.imgur.com/Sn2NzRJ.png",
         "color":null
      },
      "abusefilter/modify":{
         "icon":"https://i.imgur.com/Sn2NzRJ.png",
         "color":null
      },
      "abusefilter/create": {
         "icon":"https://i.imgur.com/Sn2NzRJ.png",
         "color":null
      },
      "interwiki/iw_add":{
         "icon":"https://i.imgur.com/sFkhghb.png",
         "color":null
      },
      "interwiki/iw_edit":{
         "icon":"https://i.imgur.com/sFkhghb.png",
         "color":null
      },
      "interwiki/iw_delete":{
         "icon":"https://i.imgur.com/sFkhghb.png",
         "color":null
      },
      "curseprofile/comment-created":{
         "icon":"https://i.imgur.com/Lvy5E32.png",
         "color":null
      },
      "curseprofile/comment-edited":{
         "icon":"https://i.imgur.com/Lvy5E32.png",
         "color":null
      },
      "curseprofile/comment-deleted":{
         "icon":"",
         "color":null
      },
      "curseprofile/comment-replied":{
         "icon":"https://i.imgur.com/hkyYsI1.png",
         "color":null
      },
      "curseprofile/profile-edited":{
         "icon":"",
         "color":null
      },
      "contentmodel/change":{
         "icon":"",
         "color":null
      },
      "sprite/sprite":{
         "icon":"",
         "color":null
      },
      "sprite/sheet":{
         "icon":"",
         "color":null
      },
      "sprite/slice":{
         "icon":"",
         "color":null
      },
      "managetags/create":{
         "icon":"",
         "color":null
      },
      "managetags/delete":{
         "icon":"",
         "color":null
      },
      "managetags/activate":{
         "icon":"",
         "color":null
      },
      "managetags/deactivate":{
         "icon":"",
         "color":null
      },
      "tag/update":{
         "icon":"",
         "color":null
      },
      "suppressed":{
          "icon": "https://i.imgur.com/1gps6EZ.png",
          "color": 8092539
      }
   }
} 
